@model IEnumerable<Magazine>


@{
    var indexActive = string.Equals(ViewContext.RouteData.Values["Controller"] as string, "MarketingCoordinator", StringComparison.OrdinalIgnoreCase) && string.Equals(ViewContext.RouteData.Values["Action"] as string, "Index", StringComparison.OrdinalIgnoreCase);
    var postsActive = string.Equals(ViewContext.RouteData.Values["Controller"] as string, "MarketingCoordinator", StringComparison.OrdinalIgnoreCase) && string.Equals(ViewContext.RouteData.Values["Action"] as string, "PostManagement", StringComparison.OrdinalIgnoreCase);  
}

<nav class="nav gap-1 flex-lg-column nav-pills mb-4 px-3 py-3 justify-content-lg-center">
    <a class="nav-link text-white @(indexActive ? "active" : "")" asp-controller="MarketingCoordinator" asp-action="Index"><i class="bi bi-bar-chart fs-4 me-2"></i>Dashboard</a>
    <a class="nav-link text-white @(postsActive ? "active" : "")" asp-controller="MarketingCoordinator" asp-action="PostManagement"><i class="bi bi-mailbox fs-4 me-2"></i>Post Management</a> 
</nav>



@* <div class="vh-100 d-none d-lg-block"></div> *@


