@model AcademicYear


@{
    Layout = "./Layout/_AdminLayout";
}


<div class="px-4 mt-4 min-vh-100">
@*     Tan Phong - Sua lai H1 thanh Edit Semester
 *@    <h1>Create Faculty</h1>

    <form asp-action="EditSemester" method="post">
        @Html.AntiForgeryToken()
        <input asp-for="Id" class="form-control" type="hidden" />


        <div class="form-group mb-2">
            <label asp-for="StartDate" class="control-label">Start Date</label>
            <input asp-for="StartDate" class="form-control" type="date" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <label asp-for="ClosureDate" class="control-label">Closure Date</label>
            <input asp-for="ClosureDate" class="form-control" type="date" />
            <span asp-validation-for="ClosureDate" class="text-danger"></span>
        </div>

        <div class="form-group mb-2">
            <label asp-for="FinalDate" class="control-label">Final Date</label>
            <input asp-for="FinalDate" class="form-control" type="date" />
            <span asp-validation-for="FinalDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </form>
</div>

