<style>
    .section-title {
        margin-bottom: 15px;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        border: 1px solid #dee2e6;
        border-left: 5px solid #FFCC00
    }
</style>

<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase fw-bold">Follow Us</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        <a href="" class="d-block w-100 text-white text-decoration-none mb-3 py-2" style="background: #39569E;">
            <i class="bi bi-facebook fs-3 p-2" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="fw-light">Follow us on FB</span>
        </a>
        <a href="" class="d-block w-100 text-white text-decoration-none mb-3 py-2" style="background: #52AAF4;">
            <i class="bi bi-twitter-x fs-3 p-2" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="fw-light">Follow us on Twitter X</span>
        </a>
        <a href="" class="d-block w-100 text-white text-decoration-none mb-3 py-2" style="background: #0185AE;">
            <i class="bi bi-linkedin fs-3 p-2" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="fw-light">Follow us on Linkdn</span>
        </a>
        <a href="" class="d-block w-100 text-white text-decoration-none mb-3 py-2" style="background: #C8359D;">
            <i class="bi bi-instagram fs-3 p-2" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="fw-light">Follow us on Insta</span>
        </a>
        <a href="" class="d-block w-100 text-white text-decoration-none mb-3 py-2" style="background: #DC472E;">
            <i class="bi bi-youtube fs-3 p-2" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="fw-light">Subscribe us on Youtube</span>
        </a>
        <a href="" class="d-block w-100 text-white text-decoration-none mb-3 py-2" style="background: #055570;">
            <i class="bi bi-vimeo fs-3 p-2" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
            <span class="fw-light">Follow us on Vimeo</span>
        </a>
    </div>
</div>

<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase fw-bold">Advertisement</h4>
    </div>
    <div class="bg-white text-center border border-top-0 p-3">
        <a href=""><img class="img-fluid" src="img/news-800x500-2.jpg" alt=""></a>
    </div>
</div>

<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase fw-bold">Tranding Magazines</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
            @* <img class="img-fluid" src="img/news-110x110-1.jpg" alt=""> *@
            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                <div class="mb-2">
                    <a class="badge badge-primary text-uppercase fw-bold p-1 me-2" href="">Business</a>
                    <a class="text-body" href=""><small>Jan 01, 2045</small></a>
                </div>
                <a class="h6 m-0 text-secondary text-uppercase fw-bold" href="">Lorem ipsum dolor sit amet elit...</a>
            </div>
        </div>
        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
            @* <img class="img-fluid" src="img/news-110x110-2.jpg" alt=""> *@
            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                <div class="mb-2">
                    <a class="badge badge-primary text-uppercase fw-bold p-1 me-2" href="">Business</a>
                    <a class="text-body" href=""><small>Jan 01, 2045</small></a>
                </div>
                <a class="h6 m-0 text-secondary text-uppercase fw-bold" href="">Lorem ipsum dolor sit amet elit...</a>
            </div>
        </div>
        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
            @* <img class="img-fluid" src="img/news-110x110-3.jpg" alt=""> *@
            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                <div class="mb-2">
                    <a class="badge badge-primary text-uppercase fw-bold p-1 me-2" href="">Business</a>
                    <a class="text-body" href=""><small>Jan 01, 2045</small></a>
                </div>
                <a class="h6 m-0 text-secondary text-uppercase fw-bold" href="">Lorem ipsum dolor sit amet elit...</a>
            </div>
        </div>
        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
            @* <img class="img-fluid" src="img/news-110x110-4.jpg" alt=""> *@
            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                <div class="mb-2">
                    <a class="badge badge-primary text-uppercase fw-bold p-1 me-2" href="">Business</a>
                    <a class="text-body" href=""><small>Jan 01, 2045</small></a>
                </div>
                <a class="h6 m-0 text-secondary text-uppercase fw-bold" href="">Lorem ipsum dolor sit amet elit...</a>
            </div>
        </div>
        <div class="d-flex align-items-center bg-white mb-3" style="height: 110px;">
            <img class="img-fluid" src="img/news-110x110-5.jpg" alt="">
            <div class="w-100 h-100 px-3 d-flex flex-column justify-content-center border border-left-0">
                <div class="mb-2">
                    <a class="badge badge-primary text-uppercase fw-bold p-1 me-2" href="">Business</a>
                    <a class="text-body" href=""><small>Jan 01, 2045</small></a>
                </div>
                <a class="h6 m-0 text-secondary text-uppercase fw-bold" href="">Lorem ipsum dolor sit amet elit...</a>
            </div>
        </div>
    </div>
</div>

<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase fw-bold">Newsletter</h4>
    </div>
    <div class="bg-white text-center border border-top-0 p-3">
        <div class="input-group mb-2" style="width: 100%;">
            <input type="text" class="form-control form-control-lg" placeholder="Your Email">
            <div class="input-group-append">
                <button class="btn btn-primary fw-bold p-3">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase fw-bold">Tags</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        <div class="d-flex flex-wrap m-n1">
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Politics</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Corporate</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Health</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Education</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Science</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Business</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
            <a href="" class="btn btn-sm btn-outline-secondary m-1">Travel</a>
        </div>
    </div>
</div>