@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<footer class=" d-flex justify-content-center bg-secondary">
    <div class="text-white">
        COMP1640 - KingOfBug.
    </div>
</footer>