@using COMP1640_WebDev.ViewModels
@model CreateContribute

@{
	Layout = "./Layout/_StudentLayout";

}

<style>
	.upload-area {
		border: 2px dashed #ccc;
		padding: 20px;
		text-align: center;
		cursor: pointer;
	}
</style>

<div class="px-4 mt-4 min-vh-100">
	<h1>Create Magazine</h1>

	<form method="post" enctype="multipart/form-data">
		<div class="form-group mb-2">
			<label for="file">Choose files to upload:</label>
			<input type="file" name="files" multiple class="form-control" />
		</div>

		<div class="form-group mb-2">
			<label asp-for="Title" class="control-label">Title</label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="form-group mb-2">
			<label asp-for="Document" class="control-label">Document</label>
			<input asp-for="Document" class="form-control" />
			<span asp-validation-for="Document" class="text-danger"></span>
		</div>
			<input asp-for="AcademicYearId" hidden value=@ViewBag.AcademicYearId class="form-control" />
		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
		</div>
	</form>
</div>

<script>
	function previewImage(event) {
		var reader = new FileReader();
		reader.onload = function () {
			var output = document.getElementById('output');
			output.src = reader.result;
		}
		reader.readAsDataURL(event.target.files[0]);
	}
</script>

