
@using COMP1640_WebDev.ViewModels
@model MagazineViewModel

@{
	Layout = "./Layout/_MMLayout";
}

<style>
	.upload-area {
		border: 2px dashed #ccc;
		padding: 20px;
		text-align: center;
		cursor: pointer;
	}
</style>

<div class="px-4 mt-4 min-vh-100">
	<h1>Create Magazine</h1>

	<form method="post" enctype="multipart/form-data">
		<div class="form-group mb-2">
		@* 	<label class="control-label">Cover Image</label>
			<div class="upload-area">
				<input type="file" id="fileInput" class="form-control-file" accept="image/*" onchange="previewImage(event)" />
				<p>Drag & drop or <a href="javascript:void(0);" onclick="document.getElementById('fileInput').click()">select</a> image</p>
			</div>
			<span class="text-danger"></span> *@

			<label for="file">Choose files to upload:</label>
			<input type="file" name="files" multiple class="form-control" />
		</div>

		<div class="form-group mb-2">
			<label asp-for="Title" class="control-label">Title</label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="form-group mb-2">
			<label asp-for="Description" class="control-label">Title</label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		    <div class="form-group mb-2">
			<label> Semester</label>
			<select asp-for="AcademicYearId" asp-items="@(new SelectList(ViewBag.AcademicYears, "Id", "StartDate"))"
					class="form-control">
			</select>
        </div>

		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
		</div>
	</form>
</div>

<script>
	function previewImage(event) {
		var reader = new FileReader();
		reader.onload = function () {
			var output = document.getElementById('output');
			output.src = reader.result;
		}
		reader.readAsDataURL(event.target.files[0]);
	}
</script>

