@model COMP1640_WebDev.Models.Magazine

@{
    ViewData["Title"] = "Create New Magazine";
}

<h1>@ViewData["Title"]</h1>

<div class="px-4 mt-4 min-vh-100">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverImage" class="control-label"></label>
                <input asp-for="CoverImage" type="file" class="form-control" />
                <span asp-validation-for="CoverImage" class="text-danger"></span>
          
            </div>
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label"></label>
                <select asp-for="FacultyId" class="form-control" asp-items="@ViewBag.FacultyList"></select>
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
